{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="w-full min-h-screen flex items-center justify-center bg-white">
    <div>
        <div>Enuygunda QA -> Backend alanına geçmek için yaptığım proje :)</div>
        <a class="text-sm font-semibold" href="{{ path('app_login') }}">Buraya tıklayarak login ekranına gidebilirsin</a>
    </div>
</div>
{% endblock %}
